<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   

<h2>Configuración de Notificaciones</h2>

<form method="post">
    {% csrf_token %}
    <div>
        <label for="receive_notifications">Recibir Notificaciones:</label>
        <input type="checkbox" id="receive_notifications" name="receive_notifications" {% if settings.receive_notifications %}checked{% endif %}>
    </div>
    <div>
        <label for="notify_document_status">Notificaciones de Estado de Documentos:</label>
        <input type="checkbox" id="notify_document_status" name="notify_document_status" {% if settings.notify_document_status %}checked{% endif %}>
    </div>
    <div>
        <label for="notify_appointment_confirmation">Notificaciones de Confirmación de Citas:</label>
        <input type="checkbox" id="notify_appointment_confirmation" name="notify_appointment_confirmation" {% if settings.notify_appointment_confirmation %}checked{% endif %}>
    </div>
    <div>
        <label for="notify_appointment_reminder">Recordatorios de Citas:</label>
        <input type="checkbox" id="notify_appointment_reminder" name="notify_appointment_reminder" {% if settings.notify_appointment_reminder %}checked{% endif %}>
    </div>
    <button type="submit">Guardar Configuración</button>
</form>
<a href="/v2/cliente_dashboard/">regresar</a>



</body>
</html>